---
layout: master
title: Stories, Articls, & News on Solving Social Problems of Rural Communities
permalink: '/marpha-blog'
---
<!-- Start Page Title Area -->
<div class="page-title-area item-bg-3">
	<div class="container">
		<div class="page-title-content">
			<h2>All Marpha Posts</h2>
			<ul>
				<li>
					<a href="/">
						Home 
						<i class="fa fa-chevron-right"></i>
					</a>
				</li>
				<li>Blog</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Page Title Area -->

<!-- Start Featured Post Area -->
<section class="blog-area pt-50 pb-100">
	<div class="container">
		<div class="section-title">
			<h2 class="text-secondary">Featured</h2>
		</div>
		<div class="row">
			{% for post in site.posts %}
				<div class="col-lg-4 col-md-6">
					<div class="single-news">
						<div class="news-img">
							<a href="{{ post.url }}">
								<img src="assets/img/news/3.jpg" alt="News">
							</a>
							<div class="date">
								<span>{{ post.date | date: '%B %d, %Y'}}</span>
							</div>
						</div>
						<div class="news-text">
							<ul>
								<li>
									<i class="flaticon-man-user"></i>
									By
									<a href="{{ site.data.authors[post.author].bio }}">{{ site.data.authors[post.author].name }}</a>
								</li>
							</ul>
							<h3>
								<a href="{{ post.url }}">{{ post.title }}</a>
							</h3>
							<p>{{ post.excerpt }}</p>
							<a class="read-more" href="{{ post.url }}">
								Read More
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End Featured Post Area -->

<!-- Start All Post Area -->
<section class="blog-area">
	<div class="container">
		<div class="section-title">
			<h3 class="text-secondary">All Marpha Posts</h2>
		</div>
		<div class="row">
			
			{% for post in site.posts %}
				<div class="col-lg-12 col-md-12">
					<div class="single-news">
						<div class="news-text">
							<ul>
								<li>
									<i class="fa fa-calendar fa-fw"></i>
									<span>{{ post.date | date: '%B %d, %Y'}}</span>
								</li>
								<li>
									<i class="flaticon-man-user"></i>
									By
									<a href="{{ site.data.authors[post.author].bio }}">{{ site.data.authors[post.author].name }}</a>
								</li>
								<li>
									<i class="fa fa-tags"></i>
									<a href="#">Open Data</a>,
									<a href="#">Karnali</a>
								</li>
							</ul>
							<h3>
							<a href="{{ post.url }}">{{ post.title }}</a>
							</h3>
							<p>{{ post.excerpt }}</p>
							<a class="read-more" href="{{ post.url }}">
								Read More
							</a>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="col-lg-12">
				<div class="pagenavigation-area">
					<nav aria-label="Page navigation example text-center">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link page-links" href="#">
									<i class="fa fa-angle-double-left"></i>
								</a>
							</li>
							<li class="page-item active">
								<a class="page-link" href="#">1</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">2</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">3</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="#">
									<i class="fa fa-angle-double-right"></i>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Latest News Area -->